html {
	background-color: #4286f4;
}
body {
	margin: 0 auto;
	padding-top: 100px;
}
header {
	height: 80px;
	width: 100%;
	text-align: center;
}
.createacct h2 {
	text-align: center;
}

footer,
footer a {
	color: white;
	font-weight: bold;
	text-align: center;
}

.img {
	height: 35px;
	margin: 0 auto;
}

.createacct {
	background: white;
	width: 400px;
	padding-left: 40px;
	padding-right: 40px;
	margin: 0 auto; 
}

.createacct form li {
	list-style: none;
}




