html {
	background-color: #4286f4;
}
body {
	margin: 0 auto;
	padding-top: 100px;
}
header {
	height: 80px;
	width: 100%;
	text-align: center;
}
main {
}

footer {
}


.img {
	height: 35px;
	margin: 0 auto;
}

.createacct {
	background: white;
}

.createacct form li {
	list-style: none;
}

.createacct, 
.button,
.forgot, 
footer {
	text-align: center;
}

/*.signup {
	width: 400px;
	padding-left: 40px;
	padding-right: 40px;
}	*/


