html {
	background-color: #4286f4;
}
body {
	margin: 0 auto;
	padding-top: 100px;
}
header {
	height: 80px;
	width: 100%;
	text-align: center;
}
footer,
footer a {
	color: white;
	font-weight: bold;
	text-align: center;
	padding-top: 15px;
}
.img {
	height: 35px;
	margin: 0 auto;
}

.createacct {
	background: white;
	width: 400px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0 auto; 
}
.createacct fieldset {
	border: none;
}
.createacct h2 {
	text-align: center;
	color: gray; 
}
.create form {
	margin-top: 10px;
}
.createacct form li {
	list-style: none;
	display: block;
	width:100%;
}
.createacct form li label {
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
}
.createacct form li input {
	width: 320px;
	height: 55px;
	border: 2px solid lightgray;
	padding: 15px;
}
.createacct form li:last-child input {
	margin: 10px;
	border-style: none;
	background-color: #5AC891;
	color: white;
	font-size: 18px;
	/*absolute position the submit button
	stretch the position of the submit button*/
}
.createacct h5 {
	text-align: center;
}
.createacct h5 a {
	color: gray;
}






